{%extends 'layout.html'%}
{% block content %}
{%from "_macros.html" import render_field%}

<form method="post" class="form-group" novalidate>
    <div class="col-md-6">
         {{form.csrf_token}}
         <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
         {{render_field(form.username)}}
         {{render_field(form.password)}}
         <button type="submit" class="btn btn-primary mt-3">
              <i class="icon-ok"></i> Guardar
         </button>
    </div>
</form>

{% endblock %}