{% extends "layout.html" %}

{% block content %}
<div class="col-xs-6">
    <form action="" method="post">
        {% for i in range(form.num_campos) %}
        <div class="control-group">
            <label class="control-label" for="num{{i+1}}">Número {{i+1}}</label>
            <div class="controls">
                <input type="text" id="num{{i+1}}" name="num{{i+1}}">
            </div>
        </div>
        {% endfor %}
        <input type="submit" value="Calcular">
    </form>
    {% if promedio is not none %}
    <h2>Resultados</h2>
    <p>Promedio: {{ promedio }}</p>
    <p>Máximo: {{ maximo }}</p>
    <p>Mínimo: {{ minimo }}</p>
    <p>Números repetidos: {{ repeticiones }}</p>
{% endif %}
</div>
{% endblock %}
